# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.g.dart

# Firebase (NE JAMAIS COMMITTER)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
lib/firebase_options.dart

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db